/* .my-custom-input {
  background-color: red !important;
}
.DatePicker__calendarContainer {
  background: red !important;
  overflow-y: scroll !important;
}

.scroller {
  width: 300px;
  height: 100px;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.Calendar__yearSelector {
  overflow-y: scroll;
  -webkit-scrollbar-width: thin !important;
  scrollbar-color: red !important;
} */
